<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Insurance_Management_System.Properties.Settings.InsuranceDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-O3H1CKS\SQLCS412_SOFIA;Initial Catalog=InsuranceDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>